$base-url: 'https://static.usabilla.com/stylabilla/latest/docs/kss-assets';
@font-face {
    font-family: FF Milo;
    font-weight: 400;
    font-style: normal;
    src: url(#{$base-url}/fonts/MiloOT.woff2) format("woff2"),url(#{$base-url}/fonts/MiloOT.woff) format("woff")
}
@font-face {
    font-family: Milo;
    font-weight: 300;
    src: url(#{$base-url}/fonts/MiloOT-Light.woff) format("woff"),url(#{$base-url}/fonts/MiloOT-Light.woff2) format("woff2")
}

@font-face {
    font-family: Milo;
    font-weight: 400;
    src: url(#{$base-url}/fonts/MiloOT.woff) format("woff"),url(#{$base-url}/fonts/MiloOT.woff2) format("woff2")
}

@font-face {
    font-family: Milo;
    font-weight: 600;
    src: url(#{$base-url}/fonts/MiloOT-Medi.woff) format("woff"),url(#{$base-url}/fonts/MiloOT-Medi.woff2) format("woff2")
  }
