@import '../node_modules/@usabilla/stylabilla/src/settings/index';
@import '../node_modules/@usabilla/stylabilla/src/components/button';
@import 'fonts';

html,
body {
  height: 100%;
}

body {
  background: #fff;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

#ub .auth0-lock.auth0-lock {
  font-family: $sb-primary-font-family;
}

#ub .auth0-lock- {

  &overlay {
    background: none;
    opacity: 1;
  }

  &header, &header-bg {
    background: transparent;
  }

  &header-bg-blur {
    opacity: 1;
    background: none;
    background-image: none !important;
  }

  &widget {
    box-shadow: none;
    border: none;
  }

  &badge-bottom {
    display: none;
  }

  &submit {
    @extend .sb-btn--primary;
    @extend .sb-btn--l;
    background-color: $sb-color-blue-2 !important;
    border-radius: $sb-radius;
    height: auto;
  }

  &header-logo {
    display: none;
  }

  &name::before {
    content: '';
    background: url(ub_logo.svg) center center no-repeat;
    background-size: contain;
    display: block;
    height: 3em;
  }

  &cred-pane {
    background: transparent;
  }

  &input-wrap-with-icon {
    padding-left: 0;
    span { display: none; }
  }

  &input-block {
    position: relative;
  }
  &input-block::before {
    content: '';
    display: block;
    // position: absolute;
    padding: 0.2em;
    color: $sb-color-light-2;
  }
  &input-email::before {
    content: 'email';
  }
  &input-password::before {
    content: 'password';
  }
  &input-show-password .auth0-lock-show-password {
    top: 46px;
  }
}
